*{
    box-sizing: border-box;
   
 
}
:root{
    --min-color:#19c8fa
}


body{
    font-family: monospace;
    
  background-color: #020202e8;
} 
.tsat{    margin-left: 300px;
    margin-top: 85px;
   
}
.tsat form{
    background-color: black;
    width: 250px;
    height: 400px;
  
}


.tsat form .in p{
    background-color: white;
   
    width: 184px;
    text-align: center;
       font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px 10px;
    position: relative;
    top: 23px;
    right: -40px;
color: #FF5722;
}
.tsat form .in{  margin: -16px;}
.tsat form .in input{
    
        background-color: black;
        color: white;
    border: none;
    border-bottom: 2px solid orangered;
    width: 184px;
    text-align: center;
    font-size: 14px;
    border-radius: 15px;
    padding: 10px 10px;
    position: relative;
    top: 23px;
    right: -40px;}
@media (max-width:768px) {
    .tsat form .in input{
        width: 750px
    }  
    
}
.tsat form button{
    padding: 4px 56px;
    position: relative;
    top: 50px;
    left: 13%;
    border: none;
    font-size: 22px;
    border-radius: 11px;
    background-color: #ff5722e0;}
.tsat form button a{

    text-decoration: none;
    color: black;
    font-weight: 900;}
.tsat form .for{
     color: #F44336;
    font-size: 22px;
    position: relative;
    top: 65px;
    right: -29px;
    text-decoration: none;
}
